# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit static files
.streamlit/config.toml

# Environment files
.env
.venv/
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Logs and local temp files
*.log
*.tmp

# Output files
*.csv
*.tsv
*.gz
*.vcf
